/* footer design tokens */
:root {
  --footer-max-width: var(--max-width-site);
  --footer-padding: var(--spacing-xl) var(--spacing-m) var(--spacing-m);
  --footer-padding-desktop: var(--spacing-xl) var(--spacing-l) var(--spacing-m);
}
